
/* Color Theme WILD WEST */
$www1: #F2D129;
$www1hover: #f1df80;
$www2: #F28627;
$www3: #D95829;
$www4: #400F04;
$www5: #BF3326;


.game-container{
    background-color: $www1hover;
    height: 100%;
    width: 100%;

    .logo{
        font-family: 'Gilroy' , 'Lost Type 2023 Regular', sans-serif;
        font-size: 2.5em;
        font-weight: bold;
        color: $www4;
        width: 100%;
        text-align: center;
        background-color: #D95829;
        padding: 10px 0;
        span{
            width: auto;
            position: relative;
            &::after{
                content: 'Secret Modi';
                color: white;
                position: absolute;
                top: -5px;
                left: 5px;
                text-wrap: nowrap;
            }
        }
    }

    .player-order-container{
        background-color: $www5;
        margin: 10px 5px;
        padding: 10px;
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 10px;
        font-family: 'Gilroy'   , 'Lost Type 2023 Regular', sans-serif;
        font-weight: bold;
        border-radius: 10px;

        .player-order-card{
            background-color: $www1;
            padding: 5px;
            border-radius: 10px;
        }
    }
}